
  <div class="row justify-content-center shadow mt-4 md-2 mx-2">
    <div class="col-sm-12 col-md-5">
      
      <div *ngIf="miGame" id="arouselExampleInterval" class="carousel slide w-100" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img [src]="miGame.imagenes" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img [src]="miGame.imagenes2" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#arouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#arouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>

    <div class="col-sm-12 col-md-7 text-align-center" *ngIf="miGame">
      <p class="text-center fs-1 my-4">{{miGame.titulo}}</p>

      <div class="row justify-content-center">
        <div class="col-8 border-bottom">
          <p class="my-2">{{miGame.descripcion}}</p>
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        <div class="col-4 border-end">
          <p class="fs-6"><fa-icon [icon]="faUser"></fa-icon> Jugadores: {{miGame.jugadores}}</p>
        </div>
        <div class="col-4">
          <p class="fs-6 ms-5"><fa-icon [icon]="faTachometerAlt"></fa-icon> Difucultad: {{miGame.dificultad}}</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-4 border-end">
          <p class="fs-6 "><fa-icon [icon]="faIndent"></fa-icon> Categoria: {{miGame.categoria}}</p>
        </div>
        <div class="col-4">
          <p class="fs-6 ms-5"><fa-icon [icon]="faStopwatch"></fa-icon> Duración: {{miGame.duracion}}</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-4 border-end">
          <p class="fs-6"><fa-icon [icon]="faMapPin"></fa-icon> Lugar: {{miGame.localizacion}}</p>
        </div>
        <div class="col-4">
          <p class="fs-6 ms-5"><fa-icon [icon]="faCalendarDay"></fa-icon> Fecha: {{miGame.date}}</p>
        </div>
      </div>

      <div *ngIf="owner" class="row justify-content-center mt-5" >
        <div class="col-6 text-center">
          <a routerLink="/perfil/{{owner.uid}}">Pubicación de: {{ owner.displayName }} <img src={{owner.photoURL}} alt="Imagen" width="25" height="25" class="rounded-circle ms-3"/></a>
        </div>
      </div>

      <div class="row justify-content-center mt-3">
        <div class="col-6 text-center d-grid gap-2 mb-3">
          <button *ngIf="jugar == true && logueado == true" type="button" class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#aceptarModal">Jugar</button>
          <button *ngIf="!logueado" type="button" class="btn btn-warning">¡Registrate para jugar!</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Aceptar Modal -->
<div class="modal fade" id="aceptarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Jugar</h3>
        <button type="button" id="modalClose"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Quieres unirte esta partida?</p>
        <div class="text-end">
          <button type="button" class="btn btn-success me-2" (click)="sendMsn()" data-bs-dismiss="modal"> Aceptar</button>
          <button type="button" class="btn btn-warning me-2" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<notifier-container></notifier-container>


