
  <div class="row justify-content-center mt-2 md-2 mx-2">
    
    <div class="col-5">
      
      <div id="carouselExampleControls" class="carousel slide w-100" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img [src]="miGame.imagenes" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/206-500x500.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/451-500x500.jpg" class="d-block w-100" alt="..."> 
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>

    <div class="col-7 text-align-center">
      <p class="text-center fs-1 mt-2">{{miGame.titulo}}</p>
      <p class="text-start fs-5 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis mollitia quam maxime dicta dolores animi earum odit debitis quasi quod necessitatibus voluptatem magni facere quia ex recusandae, commodi, ipsum libero!</p>

      <div class="row mt-2">
        <div class="col-6">
          <p class="fs-6"><fa-icon [icon]="faUser"></fa-icon> Jugadores: {{miGame.jugadores}}</p>
        </div>
        <div class="col-6">
          <p class="fs-6"><fa-icon [icon]="faTachometerAlt"></fa-icon> Difucultad: {{miGame.dificultad}}</p>
        </div>
        <div class="col-6">
          <p class="fs-6"><fa-icon [icon]="faIndent"></fa-icon> Categoria: {{miGame.categoria}}</p>
        </div>
        <div class="col-6">
          <p class="fs-6"><fa-icon [icon]="faStopwatch"></fa-icon> Duración: {{miGame.duracion}}</p>
        </div>
        <div class="col-6">
          <p class="fs-6"><fa-icon [icon]="faMapPin"></fa-icon> Lugar: {{miGame.localizacion}}</p>
        </div>
        <div class="col-6">
          <p class="fs-6"><fa-icon [icon]="faCalendarDay"></fa-icon> Fecha: {{miGame.date}}</p>
        </div>
      </div>
    </div>

  </div>


