
  <div class="row justify-content-center shadow mt-4 md-2 mx-2">
    <div class="col-sm-12 col-md-5">
      
      <div *ngIf="miGame" id="carouselExampleControls" class="carousel slide w-100" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img [src]="miGame.imagenes" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/206-500x500.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/451-500x500.jpg" class="d-block w-100" alt="..."> 
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>

    <div class="col-sm-12 col-md-7 text-align-center" *ngIf="miGame">
      <p class="text-center fs-1 my-4">{{miGame.titulo}}</p>

      <div class="row justify-content-center">
        <div class="col-8 border-bottom">
          <p class="fs-5 my-2">{{miGame.descripcion}}</p>
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        <div class="col-4 border-end">
          <p class="fs-6"><fa-icon [icon]="faUser"></fa-icon> Jugadores: {{miGame.jugadores}}</p>
        </div>
        <div class="col-4">
          <p class="fs-6 ms-5"><fa-icon [icon]="faTachometerAlt"></fa-icon> Difucultad: {{miGame.dificultad}}</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-4 border-end">
          <p class="fs-6 "><fa-icon [icon]="faIndent"></fa-icon> Categoria: {{miGame.categoria}}</p>
        </div>
        <div class="col-4">
          <p class="fs-6 ms-5"><fa-icon [icon]="faStopwatch"></fa-icon> Duración: {{miGame.duracion}}</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-4 border-end">
          <p class="fs-6"><fa-icon [icon]="faMapPin"></fa-icon> Lugar: {{miGame.localizacion}}</p>
        </div>
        <div class="col-4">
          <p class="fs-6 ms-5"><fa-icon [icon]="faCalendarDay"></fa-icon> Fecha: {{miGame.date}}</p>
        </div>
      </div>

      <div *ngIf="owner" class="row justify-content-center mt-5" >
        <div class="col-6 text-center">
          <a routerLink="/perfil/{{owner.uid}}">Pubicación de: {{ owner.displayName || miGame.idUser }} <img src={{owner.photoURL}} alt="Imagen" width="25" height="25" class="rounded-circle me-1"/></a>
        </div>
      </div>

      <div class="row justify-content-center mt-5">
        <div class="col-6 text-center d-grid gap-2">
          <button type="button" class="btn btn-success">Jugar</button>
        </div>
      </div>

    </div>

  </div>


