<div class="container shadow ">

  <form [formGroup]="gameForm" class="form-floating my-4 mx-2">
    <div class="row justify-content-center">
      <h1 class="mt-2" *ngIf="isEdit == false">Crea tu partida</h1>
      <h1 class="mt-2" *ngIf="isEdit == true">Editar partida</h1>
      <div class="col-lg-6 col-sm-12 mt-4 me-4">
        <div class="form-floating mb-3">
          <input type="text"  class="form-control" id="floatingInputTitulo" formControlName="titulo" placeholder="Parchís"/>
          <label for="floatingInputTitulo">Título del juego</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInputDes" formControlName="descripcion" style="height: 100px" placeholder="Parchís"/>
          <label for="floatingInputDes">Cómo se juega</label>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 mt-1">
            <div class="form-floating">
              <select class="form-select"id="floatingSelect"formControlName="categoria"aria-label="Floating label select example">
                <option selected value="Estrategia">Estrategia</option>
                <option value="Rol">Rol</option>
                <option value="Tablero">Tablero</option>
                <option value="Cartas">Cartas</option>
              </select>
              <label for="floatingSelect">Categoría</label>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 mt-1">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="floatingInputNumero" formControlName="jugadores" min="1" placeholder="Jugadores"/>
              <label for="floatingInputNumero">Número de jugadores</label>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 mt-1">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="floatingInputDuracion" formControlName="duracion" min="1" placeholder="Duracion"/>
              <label for="floatingInputDuracion">Duración (min)</label>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 mt-1">
            <div class="form-floating">
              <select class="form-select" formControlName="localizacion" id="floatingSelect" required>
                <option selected disabled value="">Localización</option>
                <option *ngFor="let ciudad of Ciudades" value="{{ ciudad.nm }}">
                  {{ ciudad.nm }}
                </option>
              </select>
              <label for="floatingSelect" class="form-label">Ciudad</label>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 mt-1">
            <div class="form-floating mt-1">
              <select class="form-select" id="floatingSelect" formControlName="dificultad" aria-label="Floating label select example">
                <option selected value="Fácil">Fácil</option>
                <option value="Intermedio">Intermedio</option>
                <option value="Difícil">Difícil</option>
              </select>
              <label for="floatingSelect">Dificultad del juego</label>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 mt-1">
            <div class="form-floating mb-3">
              <input type="date" class="form-control" id="floatingInputFecha" formControlName="date" min="{{fecha}}" placeholder="Fecha"/>
              <label for="floatingInputFecha">Fecha de la partida</label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-md-12 col-sm-12 mt-4 me-4">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" formControlName="imagenes" placeholder="URL"/>
          <label for="floatingInput">URL imagen</label>
          <input type="file" (change)="uploadFile($event)" multiple />
          <div>{{ uploadPercent | async }}</div>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" formControlName="imagenes2" placeholder="URL"/>
          <label for="floatingInput">URL imagen</label>
          <input type="file" (change)="uploadFileImg2($event)" multiple />
          <div>{{ uploadPercent | async }}</div>
        </div>

        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{ width: percent + '%' }" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <img *ngIf="downloadURL" [src]="downloadURL | async" class="img-thumbnail mt-1" alt="Imagen"/>
        <img *ngIf="downloadURLImg2" [src]="downloadURLImg2 | async" class="img-thumbnail mt-1" alt="Imagen"/>

        <img *ngIf="isEdit == true" [src]="miGame.imagenes" class="border-end mt-1" alt="Imagen" />
        <img *ngIf="isEdit == true" [src]="miGame.imagenes2" class="mt-1"alt="Imagen" />
      </div>

    </div>

    <div class="row justify-content-end my-3">
      <div class="col-lg-6 d-grid gap-2 d-md-flex justify-content-center my-3">
        <button *ngIf="isEdit == false" type="button"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#aceptarModal">Crear</button>
        <button *ngIf="isEdit == true"  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#aceptarModal">Guardar</button>  
        <button type="button" class="btn btn-warning" (click)="back()">Cancelar</button>
      </div>
    </div>
  </form>
</div>


<!-- Aceptar Modal -->
<div class="modal fade" id="aceptarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel" *ngIf="isEdit == false">Crear partida</h3>
        <h3 class="modal-title" id="exampleModalLabel" *ngIf="isEdit == true"> Actualizar datos</h3>
        <button type="button" id="modalClose"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p *ngIf="isEdit == false">¿Desea crear esta partida?</p>
        <p *ngIf="isEdit == true">¿Desea aplicar los cambios realizados?</p>
        <div class="text-end">
          <button type="button" class="btn btn-success me-2" (click)="saveGame()" *ngIf="isEdit == false" data-bs-dismiss="modal"> Aceptar</button>
          <button type="button" class="btn btn-success me-2" (click)="updateGame()" *ngIf="isEdit == true" data-bs-dismiss="modal">Aceptar</button>
          <button type="button" class="btn btn-warning me-2" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<notifier-container></notifier-container>
