
<div class="login-box">
    <div class="form-signing">
  
      <form>
        <div class="form-floating">
          <input formControlName="email" class="form-control" type="email" placeholder="Email">
          <label>Email</label>
        </div>
  
        <div class="form-floating mt-3">
          <input formControlName="password" class="form-control" type="password" placeholder="Contraseña">
          <label>Contraseña</label>
        </div>
  
        <button type="submit" class="w-100 btn btn-lg btn-primary mt-4">Acceder</button>
        <button class="w-100 btn btn-lg btn-link mt-3" routerLink="/register">Registrarme</button>
      </form>
    </div>
  </div>
  