

<!--<div class="container">
    <h2 class="text-left">Edita tu perfil</h2>
<form class="row g-3">
    <div class="col-md-4">
      <label for="validationDefault01" class="form-label">{{user.nick}}</label>
      <input type="text" class="form-control" id="validationDefault01" placeholder="Mark Otto" required>
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Email</label>
      <input type="text" class="form-control" id="validationDefault02" placeholder="email@email.com" required>
    </div>
    <div class="col-md-4">
      <label for="validationDefaultUsername" class="form-label">Nombre Usuario</label>
      <div class="input-group">
        <span class="input-group-text" id="inputGroupPrepend2">@</span>
        <input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" placeholder="user123" required>
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationDefault03" class="form-label">Ciudad</label>
      <input type="text" class="form-control" id="validationDefault03" required>
    </div>
    <div class="col-md-4">
        <label for="validationDefault04" class="form-label">State</label>
        <select class="form-select" id="validationDefault04" required>
          <option selected disabled value="">Choose...</option>
          <option *ngFor="let ciudad of Ciudades" value={{ciudad.id}}>{{ciudad.nm}}</option>
        </select>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2">
          Acepto los términos y condiciones
        </label>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Crear cuenta</button>
    </div>
  </form>
</div>-->


<div class="row align-items-center">

  <div class="col-md-5 col-xl-5 pp">
    <img src="{{user.photoURL}}">
  </div>

  <div class="col-md-7 col-xl-7">

    <h3>Editar perfil</h3>

    <div [formGroup]="mForm" class="form-floating mt-4"> 
      
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInputNombre" formControlName="nombre" placeholder="NombreBio" />
        <label for="floatingInputNombre">{{user.nick}}</label>
      </div>

    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button routerLink="/home" type="submit" class="btn btn-danger">Cancelar</button>
  </div>
</div>


<notifier-container></notifier-container>