

.btn{
    border-radius: 20px;
    padding: 10px;
}

.doc{
    color: black;
    background-color: whitesmoke;
    border-radius: 23px;
    padding: 10px 20px;
    border: 0px;
}

.btn-lg{
    width: 100%;
    background-color: brown;
    border-radius: 25px;
    padding: 15px;
    margin: 40px 0;
    border: 0px;
}

.card{
    color: black;
    background-color: whitesmoke;
    border-radius: 23px;
    padding: 10px 20px;
}
