<div class="container mt-4">

  <!--Boton crear bio-->
  <div class="row justify-content-center">
    <div class="col-md-7 col-xl-5 text-end">
      <button routerLink="/create-bio" type="button" class="btn btn-primary btn-lg">Crear minibio</button>
      <input type="text" class="form-control" placeholder="Buscar" aria-label="Username" aria-describedby="basic-addon1" />
    </div>
  </div>

  <!--Contenido-->
  <div class="row justify-content-center">
    <div class="col-md-7 col-xl-7 text-start card" *ngFor="let bio of misMinibios">
      <div class="d-flex bd-highlight">
        <div class="p-2 flex-grow-1 bd-highlight"><p class="titulo">Titulo: {{bio.title}}</p></div>

        <div class="p-2 bd-highlight">
          <button class="btn btn-primary" (click)="visit(bio.id)">Visitar</button>
          <button class="btn btn-secondary dropdown-toggle doc" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" ></button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><button (click)="editBio(bio.id)" class="dropdown-item" type="button">Editar</button></li>
            <li><button (click)="deleteBio(bio.id)" class="dropdown-item" type="button">Eliminar</button></li>
          </ul>
        </div>
      </div>
      <div class="d-flex">
          <p>{{bio.description}}</p>
      </div>
    </div>
  </div>
</div>

<notifier-container></notifier-container>

<!--
<p>El usuario logueado es: {{user.displayName}} </p>
<button (click)="logOut()" class="btn btn-danger">Cerrar Sesión</button>
-->
