<navbar></navbar>

<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark ">
      <div class=" d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none ">
          <span class="fs-5 d-none d-sm-inline">Menú</span>
        </a>

        <div class="dropdown pb-4">
            <a href="#" class="  d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src={{user.photoURL}} alt="hugenerd" width="30" height="30" class="rounded-circle"/>
              <span class="d-none d-sm-inline mx-1">{{user.displayName}}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
              <li><a class="dropdown-item" href="#">Añadir contacto</a></li>
              <li><a class="dropdown-item" href="#">Editar Perfil</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a (click)="logOut()" class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>

        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start " id="menu">
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
                <fa-icon [icon]="faHome"></fa-icon>
              <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <fa-icon [icon]="faUserPlus"></fa-icon>
              <span class="ms-1 d-none d-sm-inline">Añadir contacto</span>
            </a>
            <!-- Submenu
            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Item</span> 1
                </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Item</span> 2
                </a>
              </li>
            </ul> -->
          </li>

          <li>
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <fa-icon [icon]="faSortAmountUpAlt"></fa-icon>
              <span class="ms-1 d-none d-sm-inline">Ordenar por:</span>
            </a>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">- Nombre</span>
                </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">- Amigos</span>
                </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">- Familia</span>
                </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">- Trabajo</span>
                </a>
              </li>
            </ul>
          </li>

        </ul>
        <hr />
        
      </div>
    </div>

    <div class="col py-3 content">
      <!--
      <button class="btn-x" type="button" (click)="openSidebar()">
        <fa-icon [icon]="faTimes" *ngIf="desplegado==false"></fa-icon>
        <fa-icon [icon]="faBars" *ngIf="desplegado==true"></fa-icon>
      </button>
      -->
      Content area...
    </div>
  </div>
</div>

