.btn-x {
    position: relative;
    border: 0px;
    border-radius: 50px;
    padding: 5px 15px;
    background-color: grey;
}

.img {
    width: 150px;
    height: 130px;
    border-radius: 50%;
}

.pp{
    border: solid red;
    
}

.pp2{
    border: solid green;
}

