.navbar {
  background-color: rgb(255, 208, 0);
}

.btn {
  margin-right: 5px;
}

.container {
  text-align: center;
}

.titulo{
  /*margin-left: 40%;*/
  position: relative;
  left: 50%;
  transform: translatex(-50%);
}

.titulo:hover{
  cursor: pointer;
}

#img{
  height: 35px;
}

.google{
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.menu{
  display: none;
}

p{
  display: inline;
}

.name{
  display: none;
}

@media (max-width: 700px){
  .google{
    display:  none;
  }
  
  .menu{
    display: inline;
    height: 20px;
    width: 20px;
  }

  p{
    display: none;
  }

  .name{
    display: inline;
  }
}

@media (max-width: 400px){
  .rounded-circle{
    display: none;
  }
}