.navbar {
  background-color: rgb(255, 208, 0);
}

.btn {
  margin-right: 5px;
}

.container {
  text-align: center;
}

.titulo{
  margin: auto;
}

.navbar-brand:hover{
  cursor: pointer;
}

.menulateral{
  transition-property : margin-left .5s;
}


