
<nav class="navbar navbar-expand-sm justify-content-between">
  <div class="container-fluid">
    <div class="titulo">
      <span id="titulo" class="navbar-brand item-center">
      <img id="img" src="../../assets/img/logo2.PNG">
      </span>
    </div>

    <div class="dropdown">
      <button *ngIf="logueado == false" class="btn btn-success" (click)="login()" title="Acceder">
        <img class="google" src="../../assets/img/google.svg">
        <img class="menu" src="../../assets/img/ellipsis-v-solid.svg">
        <p>Acceder</p>
      </button>

      <button *ngIf="logueado == true" class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        <img [src]="user.photoURL" width="25" height="25" class="rounded-circle me-1"/>
        {{user.displayName}}
      </button>

      <ul *ngIf="logueado == true" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" routerLink="/add">Crear partida</a></li>
        <li><a class="dropdown-item" routerLink="/games">Mis partidas</a></li>
        <li>
          <button class="dropdown-item" routerLink="/msn">Mensajes
            <span *ngIf="contador != 0" class="badge bg-danger ms-2">{{contador}}</span> 
          </button>
        </li>
        <li><a class="dropdown-item border-top" href="javascript:void(0)" (click)="logOut()">Cerrar sesión</a></li>
      </ul>

    </div>
  </div>
</nav>