
<nav class="navbar navbar-expand-sm justify-content-between">
  <div class="container-fluid">
    <button class="btn btn-outline-dark" (click)="esPulsado()">☰</button>
    <div class="menulateral" *ngIf="pulsado == true">
      <menulateral></menulateral>
    </div>
    <div class="titulo">
      <span id="titulo" class="navbar-brand" routerLink="">
        <img id="img" src="../../assets/img/logo2.PNG">
      </span>
    </div>
      
    <!-- Links -->
    <ul class="navbar-nav ">
      <!--<li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
      </li>-->

      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-success" routerLink="/login">Acceder</button>
        <a routerLink="/signin">Registrarme</a>
      </form>

    </ul>
  </div>
</nav>

  <!--
<div id="main">
    
  <h2>Collapsed Sidebar</h2>
  <p>Click on the hamburger menu/bar icon to open the sidebar, and push this content to the right.</p>
</div>-->