<div class="container features">
    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-12" style="width: 18rem;">
            <img src="https://i.imgur.com/lQmWiXN.jpg" class="img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12" style="width: 18rem;">
            <img src="https://i.imgur.com/lQmWiXN.jpg" class="img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12" style="width: 18rem;">
            <img src="https://i.imgur.com/lQmWiXN.jpg" class="img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>


    </div>
</div>
