<!--<barranav></barranav> -->
<!--<menulateral></menulateral> -->
<!--
<div class="container-fluid align-center">

  <div class="buscador">
    <input class="form-control mr-me-2" type="search" placeholder="Buscar">
  </div>

  <div class="row"> -->
<!--
    <div id="card" routerLink="/detalles" class="col-lg-3 col-md-3 col-sm-12" style="width: 18rem">
      <div class="border">
        <img
          src="https://i.imgur.com/lQmWiXN.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>

    <div id="card" class="col-lg-3 col-md-3 col-sm-12" style="width: 18rem">
      <div class="border">
        <img
          src="https://i.imgur.com/lQmWiXN.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>

    <div id="card" class="col-lg-3 col-md-3 col-sm-12" style="width: 18rem">
      <div class="border">
        <img
          src="https://i.imgur.com/lQmWiXN.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>

    <div id="card" class="col-lg-3 col-md-3 col-sm-10" style="width: 18rem">
      <div class="border">
        <img
          src="https://i.imgur.com/lQmWiXN.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<div class="container">

  <div class="buscador">
    <input class="form-control mr-me-2" type="search" placeholder="Buscar">
  </div>

  <div class="row align-items-start">

      <div id="card" routerLink="/detalles" class="col-lg-4 col-md-3 col-sm-12" style="width: 17rem">
        <div class="border">
          <img
            src="https://i.imgur.com/lQmWiXN.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>

      <div id="card" routerLink="/detalles" class="col-lg-4 col-md-3 col-sm-12" style="width: 17rem">
        <div class="border">
          <img
            src="https://i.imgur.com/lQmWiXN.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>

      <div id="card" routerLink="/detalles" class="col-lg-4 col-md-3 col-sm-12" style="width: 17rem">
        <div class="border">
          <img
            src="https://i.imgur.com/lQmWiXN.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="card" routerLink="/detalles" class="col-lg-4 col-md-3 col-sm-12" style="width: 17rem">
      <div class="border">
        <img
          src="https://i.imgur.com/lQmWiXN.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>

</div>
