img{
    height: 200px;
    border: none;
    border-radius: 5px;
}


.header{
    height: 200px;
    background-image: url("https://i.imgur.com/nrFCOUB.jpg"); /*Imagen de fondo */
    background-size: cover; /* Para que se coloque bien */
    background-position: center;
    position: relative;
}

.description{
    margin-top: 5px;
}

.text{
    /*position: absolute;*/
    /*margin-top: 55px;
    margin-left: 500px;*/
    font-size: 45px;
    font-weight: bold;
    color: white;
}


.cont{
    position: relative;
    margin-left: 100px;
    margin-right: 15px;
}

.card:hover{
    cursor: pointer;
}

.buscador{
    margin-top: 10px;
}

.menu{
    position: absolute;
    height: 100%;
    width: 110px;
}

.btn:hover{
    background-color: greenyellow;
}