img{
    border: none;
    border-radius: 5px;
}

.container{
    
    border: solid;
    align-items: center;
}

#card{
    margin-top: 20px;
    /*border: solid 0.5px;;
    border-radius: 10px;*/
}

#card:hover{
    cursor: pointer;
}

/*.card-body{
    border: solid;
}*/
.buscador{
    margin-top: 10px;
}