
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
    <div id="divbtn">
        <button class="btnmenu" type="button">Menú</button>
    </div>

    <div class="ms-auto me-auto">
        <p class="titulo">Gmail</p>
    </div>

    <div id="buscar" class="container text-center">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search">
            <button class="btnsearch btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>


<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Always expand</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarsExample02" aria-controls="navbarsExample02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search"
            aria-label="Search">
          <button class="btn btn-outline-success"
            type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  -->