<navbar></navbar>

<div class="container shadow mt-4">
  <div class="row justify-content-center">

      <div class="col-md-5 col-xl-5 border text-center">
        <div *ngIf="isEdit">
          <img *ngIf="contact.img" [src]="contact.img" class="img">
          <img *ngIf="!contact.img" src="../../assets/img/user.png" class="img">
        </div>
        <div *ngIf="!isEdit">
          <img *ngIf="foto == false" src="../..//assets/img/user.png">
          <img *ngIf="foto == true" [src]="downloadURL | async" class="img-thumbnail" alt="Imagen" />
        </div>
        <div class="form-floating mt-3">
          <!--<input class="form-control" type="file" id="formFileMultiple" multiple (change)="uploadFile($event)" formControlName="imagenes">-->
          <input type="file" (change)="uploadFile($event)" multiple />
          <div>{{ uploadPercent | async }}</div>
        </div>

        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{ width: percent + '%' }" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

      </div>

      <div class="col-md-7 col-xl-7 mt-2">

        <h3 *ngIf="!isEdit">Añade un contacto nuevo</h3>
        <h3 *ngIf="isEdit">Editar contacto nuevo</h3>

        <div [formGroup]="cForm" class="form-floating mt-4"> 
          
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInputNombre" formControlName="nombre" placeholder="NombreBio" />
            <label for="floatingInputNombre">Nombre</label>
          </div>

          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInputNumero" formControlName="numero" placeholder="numero" />
            <label for="floatingInputNumero">Número</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInputUrl" formControlName="img" placeholder="URL" />
            <label for="floatingInputUrl">URL imagen</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInputEmail" formControlName="email" placeholder="name@example.com" />
            <label for="floatingInputEmail">Email</label>
          </div>

          <div class="input-group mb-3">
            <select class="form-select-sm" aria-label="Default select example" formControlName="grupo">
              <option selected disabled>Grupo</option>
              <option value="amigos">Amigos</option>
              <option value="familia">Familia</option>
              <option value="trabajo">Trabajo</option>
              <option value="otros">Otros</option>
            </select>
          </div>

        </div>
        <div *ngIf="!isEdit">
          <button type="submit" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#aceptarModal">Guardar</button>
          <button (click)="cancelar()" type="submit" class="btn btn-danger me-2">Cancelar</button>
        </div>
        <div *ngIf="isEdit">
          <button type="submit" class="btn btn-primary me-2">Actualizar</button>
          <button (click)="cancelar()" type="submit" class="btn btn-danger me-2">Cancelar</button>
        </div>
      </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="aceptarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Guardar</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div *ngIf="!isEdit" class="modal-body">El contacto será guardado</div>
      <div *ngIf="isEdit" class="modal-body">El contacto será actualizado</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button *ngIf="!isEdit" type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="crearContact()">Guardar</button>
        <button *ngIf="isEdit" type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="actualizarContact()">Actualizar</button>
      </div>
    </div>
  </div>
</div>

<notifier-container></notifier-container>