.container{
    /*position: relative;*/
    border: solid;
    border-color: red;
}

.column {
    float: left;
    width: 40%;
    padding: 15px;
}
  
.container:after {
    content: '';
    display: table;
    clear: both;
}


img{
    position: relative;
    /*width: 200px;
    height: 200px;
    border-radius: 50%;*/
    width: 200px;
    height: 180px;
    border-radius: 50%;
    margin-top: 62px;
}

.botones{
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 10px;
    margin: 5px;
}

.btns{
    margin-left: 55px;
}

.pp{
    border: solid;
}

