<div class="container">
    <form action="/action_page.php">
        <div class="containerphoto">
            <div class="photo">
                <img src="https://picsum.photos/250/250" style="width: 100%">
            </div>
        </div>

        <div class="form-group">
          <label for="email">Name:</label>
          <input class="form-control" placeholder="Enter name" id="name">
        </div>

        <div class="form-group">
          <label for="pwd">Number:</label>
          <input class="form-control" placeholder="Enter number phone" id="numberphone">
        </div>

        <select name="save" class="custom-select">
            <option selected>Save</option>
            <option value="sim">SIM</option>
            <option value="phone">Phone</option>
        </select>

        <select name="grupo" class="custom-select">
            <option selected>Group</option>
            <option value="amigos">Amigos</option>
            <option value="trabajo">Trabajo</option>
            <option value="familia">Familia</option>
        </select>

        <button type="submit" class="btn btn-primary">Save</button>

      </form>
</div>


