.container{
    position: relative;
    border: solid;
    border-color: red;
}

.column {
    float: left;
    width: 40%;
    padding: 15px;
}
  
.container:after {
    content: '';
    display: table;
    clear: both;
}


.containerphoto{
    margin-left: 30%;
}

.photo{
    position: relative;
    width: 250px;
    height: 250px;
}

img{
    border-radius: 50%;
}


.botones{
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 10px;
    margin: 5px;
}

.btns{
    margin-left: 55px;
}

