<div id="mySidebar" class="sidebar">
  <!--<a class="closebtn" routerLink="">×</a> -->
  <a href="#"><img href="#" alt="Inicio" src="../../assets/img/comienzo.svg" />Inicio</a>
  <a href="#"><img href="#" alt="Estrategia" src="../../assets/img/estrategia.svg">Estrategia</a>
  <a href="#"><img title="Rol" src="../../assets/img/rol-juego.svg" />Rol</a>
  <a href="#"><img src="../../assets/img/rompecabezas.svg" />Puzzle</a>
  <a href="#"><img title="Juegos de Tablero" src="../../assets/img/juego-de-damas.svg" />Tablero</a>
</div>

