<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-5">
      <div *ngIf="isLoading" class="spinner-border spinner-border-sm center-item" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div *ngFor="let game of misGames" class="link-item d-flex align-items-center shadow p-3 mb-3 bg-body rounded" target="_blank">
        <div *ngIf="!isLoading" class="left-item">
          <img [src]="game.imagenes" />
        </div>
        <div  *ngIf="!isLoading" class="right-item mx-2">
          <p>{{ game.titulo }}</p>
          <button (click)="editPartida(game.id)" type="button" class="btn btn-dark mx-2"><fa-icon [icon]="faEdit"></fa-icon> Editar</button>
          <button (click)="deleteGame(game.id)" type="button" class="btn btn-danger mx-1"><fa-icon [icon]="faTrashAlt"></fa-icon> Borrar</button>
        </div>
      </div>
      <div class="d-grid gap-2">
        <button (click)="back()" class="btn btn-dark right-item">Volver</button>
      </div>
    </div>
  </div>
</div>

<notifier-container></notifier-container> 
