
<h2 class="text-center">Bienvenido</h2>

<div class="container">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" />
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Acceder</button>
      </div>
      <a routerLink="/signin">Registrarme</a>
    </form>
  </div>
